@media(min-width: 376px) {

    .container {
      display: grid;
      /*Using the CSS Grid therefore display for the container is grid*/
      grid-template-rows: auto;
      /*This is auto so the can be mutiple amount of rows on in the template*/
      margin: 0 auto;
      max-width: fit-content;
      /*The max width of the viewport*/
    }

    /*The main body is added to grid with two columns. The second one being 3x the size of the first*/
    main {
      grid-template-columns: 1fr 3fr;
    }

    /*The social media element is added to grid with two columns both 70px */
    .socialmedia {
      display: grid;
      grid-template-columns: 70px 70px;
    }


    /*The about body is added to grid with two columns.*/
    .aboutsection {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}