/*FONT STYLING*/
h1 {
    font-size: 26px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
    margin: 20px;
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
    margin: 20px;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
    margin: 20px;
    text-decoration: underline;
}

p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
}

/*Added to a class to add specific stylings*/
.greyheading {
    position: relative; /*So that it is sat on to of the background image*/
    font-size: 26px;
    color: #404040;
    font-weight: 500;
    font-family: 'Martel', serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 100px;
}


/*IMAGE STYLING*/
img {
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    border-radius: 10px;
}
/*Styles the persona that is linked through figma**/
iframe {
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    border-radius: 10px;
}

/*Styles the list elements of the navigation*/
li {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
}

.link{
    color: #ffffff;
}


/*NAV STYLING*/
/*Positions the nav and styles the text*/
.left {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Martel', serif;
    margin: 20px;
}

/*Positions the header element*/
header {
    z-index: 1;
    position: absolute;
}

/*Positions the homepage navigation correctly*/
.homenav {
    margin-left: 400%;
}

/*Sits the nav actoss the screen and positions it correctly*/
nav{
    display: flex;
    margin-left: 140%;
    margin-right: auto;

}

/*Positions the ul element of the nav*/
nav ul {
    display: flex;
    align-content: flex-end;
    list-style-type: none;
}

/*Sets the text of the a tag*/
nav ul li a {
    font-size: 16px;
    color: #404040;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Martel', serif;
}

/*Positioning for the back button*/
.backbutton {
    margin-right: 260%;
    margin-top: 20px;
}

/*Positons the log and sets the width*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

/*Positions the profile image and sets it to fit the design*/
.profilepic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
}

/*SIDEBAR STYLING*/

/*The design has a side bar element this just sets the poition and colour*/
.sidebar {
    background: linear-gradient(#F896D8, #CA7DF9, #564592);/*The gradient in the background of the sidenav*/
    width: 100%;
    height: 100%;
}

/*SOCIAL STYLING*/
/*The social media icons needed specfic styling*/
.twitterlogo {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}

.linkedinlogo {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

/*Adds a margin to the ROQ image*/
.roq {
    margin-top: 10px;
}

/*Makes the content buttons relative*/
.contentbuttons{
    position: relative;
}

/*Positions the background image behind the content correctly*/
.contentbuttons::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6; /*Slightly fades the image*/
    background-image: url("cssimages/techhub.jpg");
    background-repeat: no-repeat; /*Stops the image from repeating*/
    background-size: cover; /*Covers the whole area its asigned to*/
    background-position: 10%;
}


/*Styles the rising falcon button*/
.risingfalcon {
    position: relative;
    display: block;
    cursor: pointer; /**When the cursor is hovering over the content it turns into a pointer*/
    border-radius: 10px;
    background-color: #CA7DF9;
    border: 1px #615E5E;
    width: 60%; /*The buttons have a specific width as they are unusual*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    padding: 10px;
    filter: drop-shadow(5px 5px 10px #404040); /*Shadow created to create a button effect*/
}

/*Styles the bread cafe button*/
.breadcafe {
    position: relative;
    display: block; 
    cursor: pointer;/**When the cursor is hovering over the content it turns into a pointer*/
    background-color: #724CF9;
    border-radius: 10px;
    border: 1px #615E5E;
    width: 60%; /*The buttons have a specific width as they are unusual*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    filter: drop-shadow(5px 5px 10px #404040);/*Shadow created to create a button effect*/
}

/*Styles the portfolio button*/
.portfolio {
    position: relative;
    display: block; 
    cursor: pointer;/**When the cursor is hovering over the content it turns into a pointer*/
    background-color: #564592;
    border-radius: 10px;
    border: 1px #615E5E;
    width: 60%; /*The buttons have a specific width as they are unusual*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    filter: drop-shadow(5px 5px 10px #404040);/*Shadow created to create a button effect*/
}

/*Styles for the sections within the rising falcon part of the site*/
.risingfalconsections {
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: #CA7DF9;
    border: 1px #615E5E;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}

/*This is to correct the spacing of the method image*/
.methods{
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

/*This is to correct the spacing of the wireframe image*/
.wireframe {
    width: 80%;
    margin-top: 90px;
}

/*Styles for the sections within the bread cafe part of the site*/
.breadcafesections {
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: #724CF9;
    border: 1px #615E5E;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}

/*This is to correct the spacing of the mindmap image*/
.mindmap {
    width: 90%
}

/*Styles for the sections within the about part of the site*/
.aboutsection {
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: #564592;
    border: 1px #615E5E;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}

/*Styles for the sections within the portfolio part of the site*/
.portfoliosection {
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: #564592;
    border: 1px #615E5E;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}

